body{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.ContactsWrapper{
  margin-top: 10px;
}

.contactTable img{
 width:100px;
}
button{
  margin: 0px 3px;
}
button:hover{
  background-color: lightskyblue;
}

.selected{
  background-color: lightgreen;
}